.subtitle {
  font-family: "Lucida Console", Courier, monospace;
  text-align: center;
  color: rgb(226, 153, 43);
  font-size: 150%;
  position: relative;
  top: 57%;
  left: 40%;
  margin-right: 80%;
}
  
h1 {
  text-align: center;
  font-family: "Lucida Console", Courier, monospace;
  font-size: 500%;
  color: rgb(226, 153, 43);
  position: relative;
  top: 15%;
  left: 31.5%;
  margin-right: 60%;
} 
 
.updatePassword-template {
  width: 460px;
  padding: 8% 0 0;
  position: absolute;
  top: 26%;
  right: 32%;  
}

.message{
  text-align: center;
  font-family: "Lucida Console", Courier, monospace;
  position: absolute;
  font-size: 200%;
  color: rgb(226, 153, 43);
  top: 32%;
  left: 40%;
}

.form button{
  width: 50%;
  padding: 16px;
  font-family: "Lucida Console", Courier, monospace;
  position: absolute;
  top: 106%;
  left: 27%;
  background: rgb(226, 153, 43);
}
  
.form input{
  background:white;
  padding: 10px;
  position: relative;
  top: 48%;
  right: -24%;
  width: 50%;  
}
  
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  font-family: "Lucidia Console", Courier, monospace;
  float: left;
  color : #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
} 

.addPersonMessage{
  text-align: center;
  font-family: "Lucida Console", Courier, monospace;
  position: absolute;
  font-size: 200%;
  color: rgb(226, 153, 43);
  top: 32%;
  left: 29%;
}

.addMovieMessage{
  text-align: center;
  font-family: "Lucida Console", Courier, monospace;
  position: absolute;
  font-size: 200%;
  color: rgb(226, 153, 43);
  top: 32%;
  left: 36%;
}